body {
    text-align: center;
    margin: 0; /* Asegura que no haya márgenes en el cuerpo */
    overflow: hidden; /* Oculta cualquier desbordamiento del cuerpo */
    background-image: url("brickwall.jpg"); /* Aquí meto mi foto feucha de fondo*/
    background-size: cover;
    background-position: center;   /*quiero que este centrado al ser cuadrados queda mejor*/
}

#board {
    margin: 100px auto; /* Espaciado alrededor del cuadro del juego */
    background-color: black;
    border-top: 7px solid rgb(235, 135, 138);
    border-left: 7px solid rgb(235, 135, 137);
    border-right: 7px solid rgb(235, 135, 135);
    z-index: -1; /* Asegura que el cuadro del juego esté sobre la imagen, esto me ha dado algun problemilla */
}

